@import "./base/import";
@import "./general";
@import "./variables";
@import "../layout/import";
@import "../sectioms/import";




.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;

    .nav_logo{
        text-transform: uppercase;
        $primary-color: white;
        font-size: 26px;
        text-decoration: none;
        margin: 50px;
    
    }

    &.nav_list{
        display: flex;
        gap: 40px;


        &._list_item{
            text-transform: uppercase;


            &._link{
                text-decoration: none;
                color: black;
                font-size: 16px;
                gap: 20px;
            }
              
            
        }
    }
}
