.wrap_footer{
    margin-top: 80px;
 
    padding: 30px;
    width: 1280px;
 
 }
 .about{
     display: flex;
     gap: 60px;
    
 }
 .documents{
 
     width: 188;
     height: 175px;
     
 }
 .documents ul {
     list-style: none;
     gap: 60px;
     align-items: center;
 }
 .documents ul li{
     margin-bottom: 10px;
 }
 .documents ul li a{
     font-size: 16px;
     text-decoration: none;
     width: 134px;
     height: 19px;
     font-family: Nuckle;
     font-size: 16px;
     font-weight: 539;
     line-height: 19px;
     letter-spacing: 0.01em;
     text-align: left;
     color: #1E1E1E;
 }
 .documents ul li a:hover{
     color: rgb(42, 184, 42);
 }
 /* ------------------------------------------------------------ */
 .service{
     width: 189px;
     height: 214px;
     margin-left: 29px;
     
 }
 .service ul {
     list-style: none;
     align-items: center;
 }
 .service ul li{
     margin-bottom: 25px;
 }
 .service  ul li a{
     font-size: 16px;
     text-decoration: none;
     width: 134px;
     height: 19px;
     font-family: Nuckle;
     font-size: 16px;
     font-weight: 539;
     line-height: 19px;
     letter-spacing: 0.01em;
     text-align: left;
     color: #1E1E1E;
 }
 .service  ul li a:hover{
     color: rgb(42, 184, 42);
 }
 /* ----------------------------------------------------- */
 .catalog{
     width: 188px;
     height: 253px;
     margin-left: 29px;
 }
 .catalog  a{
     font-size: 16px;
     text-decoration: none;
     width: 134px;
     height: 19px;
     font-family: Nuckle;
     font-size: 16px;
     font-weight: 539;
     line-height: 19px;
     letter-spacing: 0.01em;
     text-align: left;
     color: #1E1E1E;
 }
 .catalog a:hover{
     color: rgb(42, 184, 42);
 }
 h1{
     font-size: 19px;
     margin-top: 25px
 }
 /* ------------------------------------------------------ */
 
 
 .contact{
     width: 396px;
     height: 174px;
    margin-left: 229px;
   
 }
 .contact a{
     font-size: 16px;
     text-decoration: none;
     width: 134px;
     height: 19px;
     font-size: 16px;
     font-weight: 539;
     line-height: 19px;
     letter-spacing: 0.01em;
     text-align: left;
     color: #1E1E1E;
     margin-bottom: 10px;
     margin-left: 130px;
 }
 .contact a:hover{
     color: rgb(42, 184, 42);
 }
 /* ----------------------------------------------------------- */
 .internet{
     width: 246px;
     height: 42px;
     display: flex;
     justify-content: space-between;
     margin-left: 325px;
     margin-top: 27px;
 }
 /* ------------------------------------------------------- */
 
 hr{
     margin-top: 100px;
     width: 1230px;
     border: 1px solid #4D5EF6   ;
 }
 .text{
     display: flex;
     justify-content: space-between;
     margin-top: 30px;
 }