#category .card-wrapper {
  background: transparent;
}

#category .card-wrapper h2 {
  margin-bottom: 20px;
}

#category .card-wrapper .card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;  
  column-gap: 15px;
}

#category .card {
  background-color: #fff;
  width: 293px;
  height: 290px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
 padding: 20px 11px;
}

#category .card:hover{
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

#category .card img {
  width: 208px;
  margin-top: 10px;
}

#category .card .card-body {
  padding: 0 10px;
  padding-top: 10px;
}

#category .card .card-body a,p {
  text-align: center;
  font-size: 14px;
  color: #000000;
  font-weight: 539;
  text-decoration: none;
  display: block;
}
/* ============================================================= */
.big_card{
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
}
.card_1{
  width:290.89px;
  height: 420px;
 margin-right: 20px;
 background-color: #FFFFFF;
 border-radius: 10px;
 padding-top: 10px;
 box-shadow: rgb(0, 0, 0);
 transition: all 0.2 ease-in-out;
}
.card_1:hover{
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
.top_sale{
  position: absolute;
}
.card_1 img{
  padding:10px;
}
h1{
  margin-top: 40px;
}
h4{
  color: #0D63F3;
  padding-left: 15px;
}
.about{
font-size: 14px;
}
.how{
  color: #6C757D;
  margin-top: 10px;
  align-items: center;
}
.btn_log{
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
.btn_log button{
  padding: 10px 24px;
  border-radius: 8px;
  background-color: #0D63F3;
  color: #FFFFFF;
  align-items: center;
}
.btn_log button:hover{
  background-color: gold;
  color: #000000;
}
/* ------------------------------------------------------------------------------- */
@media only screen and (max-width: 480px){


  #category .card-wrapper .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;  
    column-gap: 15px;
  }
  #category .card   {
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;  
    column-gap: 15px; */
   
    background-color: #fff;
    width: 150px;
    height: 242px;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

  
  }

  #category .card img {
    width: 136px;
    height: 135;
  }

  .big_card{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;  
    column-gap: 15px;

    padding-left: 15px;
  }
  .card_1{
  margin-left: 20px;
  }
  .card_1 img{
    padding:50px;
  }
  .about{
    
      font-size: 14px;
      padding-left: 30px;
     
      
    }

    .btn_log{
     display: none;
    }
    .btn_log button{
    display: none;
    }
    .btn_log button:hover{
      display: none;
    }
    


  }
 


/* ---------------------------------------------------------------------------------- */

  



