.wrapper{
  width: 1230px;
  height: 769px;
  margin-top: 150px;
  display: flex;
  gap: 39px;
}

.category{
 position: absolute;
  margin-top: 20px;
  text-decoration: none;
  color: black;
  font-weight: 500px;
  font-size: 14px;



 
}

.wrapper_right{
  width: 546px;
  height: 693px;
  margin-top: 100px;
}
.card-1{
  width: 546px;
  height: 546px;
  background-color: #FFFFFF;
}
.macbok{
  margin: 40px 73px 106px;
}

.card-1{
  display: flex;
  justify-content: space-between;
  margin-top: 42px;
}

.card_2{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.cards{
  width: 105px;
  height: 105px;
  background-color: #FFFFFF;
  padding: 18px 10px;
}
/* ---------------------------------------- */
.wrapper_left{
  margin-top: 70px;
}

.prg{
  width:230px ;
  height:46px ;
  display: flex;
  justify-content: space-between;
  font-size: 28px;
}
 



.colors{
  width: 230px;
  height: 46px;
  display: flex;
  justify-content: space-between;
}
.gray_1{
  width: 46px;
  height: 46px;
  border-radius: 4px;
  background-color: #BEBBC2 ;
}

.gray_2{
  width: 46px;
  height: 46px;
  border-radius: 4px;
  background-color: #F9DED7 ;
}

.gray_3{
  width: 46px;
  height: 46px;
  border-radius: 4px;
  background-color: #FCE9DB ;
}

.gray_4{
  width: 46px;
  height: 46px;
  border-radius: 4px;
  background-color: #E8E8EA ;
}
/* ------------------------------------------------ */
.how{
  font-size: 48px;
}
.how_2{
  font-size: 24px;
  color: #0D63F3;
  margin-bottom: 30px;
}

.big_btn{
 display: flex;
 gap: 20px;
 margin-bottom: 40px;
}
.btn_1{
  width: 322px;
  height: 54px;
  border-radius: 8px;
  background-color: #FFFFFF;
  color: #0D63F3;
}
.btn_1:hover{
  background-color: gold;
}
.btn_2{
  width: 158px;
  height: 52px;
  border-radius: 10px;
  background-color: #FFFFFF;
  color: #0D63F3;
}
.btn_2:hover{
  background-color: gold;
}
.big_btn-2{
  display: flex;
  gap: 40px;
}
.btn_3{
  width: 230px;
  height: 52px;
  border-radius: 10px;
  background-color: #0D63F3;
  color: #FFFFFF;
}
.btn_3:hover{
  background-color: gold;
}


.about_page{
  margin-top: 20px;
 
}
.market{
  display: flex;
  gap: 10px;
}
/* ---------------------------------------------------- */
.image{
  margin: 90px 1px;
}
/* ------------------------------------------------------ */
.big_card{
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
}
.card_1{
  width:390.89px;
  height: 420px;
 margin-right: 0px;
 background-color: #FFFFFF;
 border-radius: 10px;
 padding-top: 10px;
 box-shadow: rgb(0, 0, 0);
 transition: all 0.2 ease-in-out;
}
.card_1:hover{
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
.top_sale{
  position: absolute;
}
.card_1 img{
  padding:10px;
  margin-left: 40px;
}
h1{
  margin-top: 40px;
}
h4{
  color: #0D63F3;
  padding-left: 15px;
}
.about{
font-size: 14px;
}
.how{
  color: #6C757D;
  margin-top: 10px;
  align-items: center;
}
.btn_log{
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
.btn_log button{
  padding: 10px 24px;
  border-radius: 8px;
  background-color: #0D63F3;
  color: #FFFFFF;
  align-items: center;
}
.btn_log button:hover{
  background-color: gold;
  color: #000000;
}
/* ------------------------------------------------------------------------------- */